/*VERSION MOBILE FIRST--------------------------------------------*/

body{
	font-family:Verdana, Geneva, Tahoma, sans-serif;
	background: linear-gradient(#d30f13, #A66124, #000a03);
	/* margin:40px; */
	padding:0;
	margin:0 auto;
	box-sizing: border-box;
	
}
span{
	color:rgba(255, 255, 255, 0.87);
	font-family: fantasy;
	font-size: 35px;
	text-align: center;
	justify-content:center;
}

.table{
    display:table;
    margin:0px;
    width: 100%x;
    display: flex;
    flex-wrap: wrap;
}


.menu a{
	color:white;
	text-decoration: none;
		
}
ul {
	
  font-family: "Montserrat",'source sans pro', Calibri, Tahoma, sans-serif;
  display: flex;
  justify-content:space-between;
 
 
}

li {
	background-color:  rgba(255, 145, 0, 0.973);
  	margin: 30px;
  	list-style-type: none;
	text-decoration: none;
 	 line-height: 25px;
 	 border: 3px solid brown;
 	 border-radius: 8px;
 	 cursor: pointer;
	  transition: color .25s ease;
  
}
a:hover{
	opacity: 0.9;
	border-bottom: 3px solid red;
	
}
nav a{
	text-decoration: none;
}
.header{
	background-image: url("../img/fond.jpg");
	height: 500px;
	background-repeat:no-repeat;
	max-width: 1024px;
	margin: 0 auto;
}
.titre{
	min-width: 200px;
	max-width: 1024px;
	margin: auto;

}
.main{
	max-width: 1024px;
	margin: auto;
	display:flex;
	flex-wrap: wrap;
	justify-content:space-around;
}
table{
	border-collapse: collapse;
		background-color: rgba(255, 145, 0, 0.973);
		display:table;
		width: 100%;
		margin:10px;
		
	}
	td, th /* Mettre une bordure sur les td ET les th */
	{
		font-size: 25px;
		color: white;
		border: 1px solid black;
		margin:25px;
		padding:25px;
		
	}
	tr{
		width:100%;
		height:100%;
	}
	
caption{
		font-size: 25px;
		font-weight: bold;
		color: white;
		caption-side:top;
		
	}


.image {
 
	max-width:100%;
	margin: 0 auto;

}

h1 {
	color: #fff;
	font-family: "Poppins", sans-serif;
	text-align:center;
	
}
section h2{

	font-size: 35px;
	color: white;
}
article{
	display:flex;
	flex: wrap;
	flex-direction: column;
    height: auto;
	width: 100%;
   
  }
p:first-letter{/* (Pseudo-élément)met la première lettre des paragraphe en majuscule*/
	font-size:3em;
	color: rgb(241, 204, 36);
	text-shadow: rgb(197, 190, 189);
  }
p{
	color: white;
	background: linear-gradient();
	border: 1px solid green;
	text-align: center;
	text-justify:inter-cluster;
	padding: 5px;
	margin: 10px;
}
footer{
	max-width: 1024px;
	margin:auto;
	height: 125px;
}


@media (max-width: 992px) {
  .specials .nav-link {
    border: 0;
    padding: 15px;
  }
}

/*-------------------------------------------------------------------*/
/*VERSION PC*/
@media (min-width: 1024px){
	body{
		background-color:cadetblue;
	}
	.flex-container{
		display: flex;
		align-content: stretch;
		}

	.flex-comumn{
		flex-direction: column;
	}

table{
	flex-direction:column;
}
}
